<button
  type="button"
  class="btn btn-secondary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="position: fixed; right: 2rem; bottom: 2rem"
>
<i class="bi bi-cart"></i>

  <span
    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
    *ngIf="getCompareProductList()?.length"
  >
    {{ getCompareProductList()?.length }}
  </span>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Compare Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card-group">
          <div
            class="card"
            *ngFor="let product of getCompareProductList()"
          >
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ product?.name }}</h5>
              <p class="card-text">
                {{ product?.detail }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">${{ product?.price }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
