

#slider {
    overflow: hidden;
}

.title-slider {
    text-align: center;
    padding: 12px 0 12px 0;
}


.title-document {
    font-size: 14px;
    font-family: 'Itim', cursive;
    color: rgb(255, 0, 0);
}

.slider-imgs img {
    width: 100%;
}

.slider-imgs {
    display: flex;
    width: 100%;
    animation: slideshow 16s infinite;
}

.slider-imgs input {
    display: none;
}

.lableslider {
    display: flex;
    justify-content: center;
}

#img1:checked~.imgslider1 {
    margin-left: -100%;
}

#img2:checked~.imgslider2 {
    margin-left: -200%;

}

#img3:checked~.imgslider3 {
    margin-left: -300%;

}

#img4:checked~.imgslider4 {
    margin-left: -400%;

}


@keyframes slideshow {
    20% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    70% {
        margin-left: -300%;
    }

    80% {
        margin-left: -300%;
    }

    90% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

/* FINISH CSS SLIDER */

/* CSS LIST PRODUCTS */

#slider .danh-sach-hoa-slider {
    margin-top: 75px;

    width: 85%;
}

#slider .anh-hoa {
    float: left;
    width: calc(100% / 6);
    padding: 0px 11px;
    transition: 0.5s;
}

#slider .list-anh-hoa {
    width: 120px;
    border-radius: 72px;
}

#slider .title-anh-hoa {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    // opacity: 0.6;
}

#slider .title-anh-hoa a {
    color: #333;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;

}


// .anh-hoa:hover {
//     transform: scale(1.1);
//     cursor: pointer;
// }

.list-anh-hoa:hover {
    box-shadow: 0 0 10px rgb(228, 62, 90);
}

/* FINISH CSS LIST PRODUCTS */




.heading {
    text-align: center;
    margin: 40px 0;
}

h3 {
    font-size: 18px;
    color: rgb(235, 98, 144);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #e0a0a0;
    display: inline-block;
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    transition: 0.7s;
}

#wrapper .heading:hover h3 {
    color: #fff;
    background-color: rgb(228, 62, 90);
    letter-spacing: 0.1em;
    cursor: pointer;
}



#wrapper .btn-them-vao-gio-hang {
    position: absolute;
    top: 1225px;
    left: 11%;
    padding: 8px 7px;
    border: none;
    border-radius: 15px;
    background-color: rgb(228, 62, 90);
    color: #fff;
}

#wrapper .btn-them-vao-gio-hang:hover {
    cursor: pointer;
    /* letter-spacing: 1px; */
    background-color: rgb(235, 98, 144);
}



/* FINISH CSS HOT PRODUCTS */

/* CSS SOLOGAN SHOP FLOWERS */

#wrapper .container1 {
    float: left;
    width: calc(100%/3);
    text-align: center;
    margin-top: 40px;
}

#wrapper .container1 img {
    width: 35%;
}




