<div class="container">
  <footer
    class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
  >
    <div class="col mb-3">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      >
        <img src="assets/logo.png" alt="" style="height: 5rem" />
      </a>
      <p class="text-body-secondary">&copy; 2023</p>
    </div>


    <div class="col mb-3"></div>

    <div class="col mb-3">
      <h5>Website</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/" class="nav-link p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/products" class="nav-link p-0 text-body-secondary"
            >Product</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="/about" class="nav-link p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/about" class="nav-link p-0 text-body-secondary">About</a>
        </li>
        <li class="nav-item mb-2">
          <a
            href="http://facebook.com"
            target="_blank"
            class="nav-link p-0 text-body-secondary"
            >Facebook</a
          >
        </li>
        <li class="nav-item mb-4">
          <a
            href="http://instagram.com"
            target="_blank"
            class="nav-link p-0 text-body-secondary"
            >Instagram</a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <div class="nav-item mb-2">
        <a class="btn btn-success" href="tel:1800 6789">1800 6789</a>
      </div>
    </div>
  </footer>
</div>
