<div class="row pt-3 g-5">
  <div class="col-4">
    <div>
      <img [src]="product?.image" alt="Hình ảnh hoa" class="w-100 h-100" />
    </div>
    <div class="mt-3">
      <div class="fs-5 fw-bold">Occasions</div>
      <div class="d-flex gap-2 flex-wrap mt-2">
        <small
          class="border rounded-pill px-3 py-1 border-2 border-warning text-nowrap"
          *ngFor="let occasion of product?.rawOccasions"
          ><i>{{ occasion.name }}</i></small
        >
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="fs-1 fw-bold text-primary">{{ product?.name }}</div>
    <div class="fs-5 fw-bold text-danger">Giá: ${{ product?.price }}</div>
    <i class="fw-bold"
      >Giá đã bao gồm 10% VAT - Sản phẩm chưa bao gồm phí giao tân nơi (Chi
      tiết)</i
    >
    <div class="mt-1">
      <button (click)="addToCart(product)" class="btn btn-primary">
        Add to cart
      </button>
    </div>

    <hr />

    <div class="mt-3">
      <div class="fs-5 fw-bold">Detail</div>
      <div>- {{ product?.detail }}</div>
      <div>- Include:</div>
      <small class="d-block" *ngFor="let flower of product?.flowers"
        ><i>+ {{ flower.name }}: {{ flower?.amount }}</i></small
      >
    </div>

    <div class="alert alert-warning mt-3" role="alert">
      <i>{{ product?.note }}</i>
    </div>

    <div class="alert alert-info mt-3" role="alert">
      <div *ngFor="let offer of product?.specialOffer">
        <i>- {{ offer }}</i>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <a class="btn btn-success" href="tel:1800 6789">1800 6789</a>
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [checked]="product?.isCompared"
          id="flexSwitchCheckDefault"
          (click)="handleCompareProduct(!product?.isCompared, product)"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Compare</label
        >
      </div>
    </div>
  </div>
</div>

<div>
  <div class="fs-3 fw-bold mb-3">Những mẫu hoa cùng loại khác</div>
  <div class="row">
    <div class="col-3" *ngFor="let otherProduct of moreProductList">
      <div
        class="card p-1"
        [ngClass]="{
          'border border-3 border-warning shadow': otherProduct?.isCompared
        }"
      >
        <div
          [ngClass]="{
            'border border-3 border-primary rounded-2': otherProduct?.isChosed
          }"
        >
          <div style="width: 100%; aspect-ratio: 5/6" class="border-bottom">
            <img
              [src]="otherProduct?.image"
              class="card-img-top"
              style="width: 100%; height: 100%; object-fit: contain"
              alt="..."
            />
          </div>

          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ otherProduct?.name }}</h5>
            <p class="card-text" style="flex: 1">{{ otherProduct?.detail }}</p>
            <div class="d-flex justify-content-between">
              <div class="fs-5">${{ otherProduct?.price }}</div>
              <div class="text-end">
                <button
                  class="btn btn-primary me-2"
                  (click)="addToCart(otherProduct)"
                >
                  <i class="bi bi-cart"></i>
                </button>
                <button
                  class="btn btn-warning me-2"
                  (click)="
                    handleCompareProduct(
                      !otherProduct?.isCompared,
                      otherProduct
                    )
                  "
                >
                  <i class="bi bi-clipboard2"></i>
                </button>

                <button
                  class="btn btn-info"
                  (click)="goToProductDetail(otherProduct)"
                >
                  <i class="bi bi-arrow-right-short"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3">
  <button
    class="btn btn-light border rounded-pill border-primary text-primary"
    (click)="goToProductsPage()"
  >
    Xem thêm
  </button>
</div>
