<div id="content-gioi-thieu-shop">
    <div class="tieu-de-gioi-thieu-shop">
        <h2>About us - Contact Infomation</h2>
    </div>

    <div class="thanh-ngang5"></div>

    <div class="sologan-gioi-thieu-shop">
        <p> ONLINE ORRDER - FREE SHIP TP HCM & HA NOI CITY - CALL 1900 999 999 OR 0865 999 999 </p>
    </div>

    <div class="thanh-ngang2"></div>
</div>

<div id="bai-gioi-thieu-shop">

    <p class="text5">Flower Corner</p>

    <p class="text6">Hotline: 1900 633 999 - 0865 160 360</p>

    <p class="text7">Facebook: <a href="">https://www.facebook.com/</a></p>
    <p class="text8">Instagram: <a href="">https://www.instagram.com/</a></p>
    <p class="text9">Email: shophoahanoi@gmail.com</p>

    <p class="text10"> Opening time:</p>

    <p class="text11"> Monday - Friday: 7h to 17h</p>
    <p class="text12"> Satuday - Sunday: 8h to 17h</p>

    <p class="text13">Ha Noi: 999 Nguyen Trai, Thanh Xuan, Ha Noi</p>
    <p class="text14">TP HCM: 999 Nguyen Dinh Chieu, Distric 5, TP.HCM</p>

    <iframe class="map-ha-noi"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.9913890269167!2d105.80530767395187!3d20.99298228900903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbf6af3c44f%3A0xed2a3283251a5bf7!2zMjc1IMSQLiBOZ3V54buFbiBUcsOjaSwgVGhhbmggWHXDom4gVHJ1bmcsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1685813134410!5m2!1svi!2s"
        width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <iframe class="map-hcm"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.487599041522!2d106.68341327371576!3d10.773917359242729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f249c8318e3%3A0xa5e4a576dde9fab3!2zMjI1IE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCBQaMaw4budbmcgNSwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1685813391596!5m2!1svi!2s"
        width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>



    <!-- THANH NGĂN -->
    <div id="solid">
    </div>

    <!-- HẾT THANH NGĂN -->