#content-gioi-thieu-shop {
    margin-top: 110px;

}

#content-gioi-thieu-shop .tieu-de-gioi-thieu-shop {
    padding-top: 35px;
}

#content-gioi-thieu-shop .tieu-de-gioi-thieu-shop h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

/* THANH NGANG1 */

#content-gioi-thieu-shop .thanh-ngang5 {
    border: 1.4px solid rgb(230, 80, 127);
    width: 26%;
    position: absolute;
    left: 37%;
    top: 190px;
}

#content-gioi-thieu-shop .sologan-gioi-thieu-shop {
    position: absolute;
    left: 24%;
    top: 200px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

/* THANH NGANG 2 */

#content-gioi-thieu-shop .thanh-ngang2 {
    border: 1px solid #ccc;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 225px;
}

#bai-gioi-thieu-shop {
    margin: 100px auto;
    width: 90%;
}

#bai-gioi-thieu-shop .text5 {
    padding-top: 20px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text6 {
    padding-top: 15px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text7 {
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text7 a {
    text-decoration: none;
    color: #333;
}

#bai-gioi-thieu-shop .text8 {
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text8 a {
    text-decoration: none;
    color: #333;
}

#bai-gioi-thieu-shop .text9 {
    font-family: 'Quicksand', sans-serif;
}


#bai-gioi-thieu-shop .text10 {
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text11 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text12 {
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

#bai-gioi-thieu-shop .text13 {
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#bai-gioi-thieu-shop .text14 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#bai-gioi-thieu-shop .map-ha-noi,
.map-hcm {
    padding-top: 40px;
}

#bai-gioi-thieu-shop .text15 {
    padding: 15px 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* PHẦN KẺ NGANG  */

#solid {
    border: 1px solid;
    width: 1126px;
    position: absolute;
    left: 59px;
    margin: 45px 0;
    color: #ccc;
}