<div class="pt-4">
  <div
    class="d-flex flex-column flex-lg-row justify-content-between border shadow-lg p-5 align-items-center rounded-5 gap-5"
  >
    <div class="text-end">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none m-auto"
      >
        <img src="assets/logo.png" alt="" style="height: 7rem" />
        <!-- <span class="fs-4"></span> -->
      </a>
      <div class="fw-bold mt-3 pt-2">
        <a
          class="text-black"
          href="mailto:bloom@gmail.com"
          style="text-decoration: none"
          >bloom@gmail.com</a
        >
      </div>

      <div class="fw-bold mt-2">facebook.bloom.com</div>
      <div class="fw-bold mt-2">225 Nguyen Dinh Chieu, Ho Chi Minh City</div>
      <!-- <div class="d-flex gap-2">
        <a class="btn btn-success" href="tel:1800 6789">1800 6789</a>
      </div> -->
    </div>

    <div style="flex: 1" class="rounded-5 overflow-hidden w-100">
      <iframe
        class="w-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.487599041522!2d106.68341327371576!3d10.773917359242729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f249c8318e3%3A0xa5e4a576dde9fab3!2zMjI1IE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1LCBQaMaw4budbmcgNSwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1685813391596!5m2!1svi!2s"
        style="aspect-ratio: 3/2"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
