.product-row {
    display: flex;
    align-items: center;
}

.offcanvas-body {
    background-color: black;
}

.total-price {
    color: white;
    font-size: 2rem;
    display: block;
}

.cart-total, .total-price, .cart-price {
    color: white;
}